table {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
}


table td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 40px;
}

.table td {
    padding: 0;
    vertical-align: middle;
}

.first {
    width: 20px;
}
.third {
    width: 30px;
    align-items: center;
}
.forth {
    width: 49px;
    text-align: center;
}

.delete {
    padding: 0 4px;
    border: none;
}
.delete:hover {
    background-color: #a92222;
    color: white;
}
.delete:focus {
    box-shadow: none;
}

.edit {
    padding: 0 4px;
    border: none;
}
.edit:hover {
    background-color: #00cc66;
    color: white;
}
.edit:focus {
    box-shadow: none;
}