.map {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
}

#layers {
    position: fixed;
    bottom: 10px;
    left: 10px;
    width: 300px;
    height: calc(100% - 20px);
    border: 1px solid #000000;
    text-align: center;
    background-color: white;
    border-radius: 8px;
}

#layersManagerButton {
    width: calc(100% - 20px);
    position: absolute;
    left: 10px;
    bottom: 40px;
}

#menuButton {
    font-size: 24px;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    position: absolute;
    left: calc(50% - 15px);
    bottom: -2px;
}

/*.custom-zoom{*/
/*    top: .5em;*/
/*    right: .5em;*/
/*}*/
/*.custom-zoom button{*/
/*    background-color: rgba(40, 40, 40, .7);*/
/*    border-radius: 50%;*/
/*}*/

