#map {
    width: 100%;
    height: calc(100vh);
    padding-right: 0 !important;
    padding-left: 0 !important;
}

#layers {

}

#successful_upload, #unsuccessful_upload {
    display: none;
}

@media only screen and (max-width: 768px) {
    #map {
        width: 100%;
        height: 400px;
    }
}
