/*Map*/
.map {
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
}
/*Zoom buttons*/
.custom-zoom{
    top: .5em;
    right: .5em;
}
.custom-zoom button{
    background-color: rgba(40, 40, 40, .7);
    border-radius: 50%;
}

/*Layers manager*/
#layers {
    position: fixed;
    top: 10px;
    left: 10px;
    width: 300px;
    height: calc(100% - 20px);
    border: 1px solid #000000;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
#choice_layers {
    max-height: calc(100% - 110px);
    width: 100%;
    text-align: left;
}
#choice_layers .form-check {
    height: 24px;
}
#choice_layers label {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

/*SETTINGS LAYERS*/
/*Additional info*/
#additionalInfo {
    border-style: solid;
    border-width: 1px;
    border-color: #000000;
    width: calc(100% - 20px);
    position: absolute;
    left: 10px;
    bottom: 53px;
    overflow: hidden;
}
/*Add layer button*/
#addLayer {
    width: calc(50% - 20px);
    position: absolute;
    left: 10px;
    bottom: 10px;
}
/*Layers manager button*/
#layersManager {
    width: calc(50% - 10px);
    position: absolute;
    right: 10px;
    bottom: 10px;
}

/*table*/
#layersTable {
    table-layout: fixed;
    width: 100%;
    white-space: nowrap;
    margin-bottom: 0;
}
#layersTable td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 30px;
    padding: 0;
    vertical-align: middle;
}

#layersTable .first {
    width: 20px;
    text-align: left;
}
#layersTable .second {
    text-align: left;
}
#layersTable .third {
    width: 34px;
    align-items: center;
}
#layersTable .forth {
    width: 70px;
    text-align: center;
}

#layersTable .checkboxLayer {
    margin-left: 3px;
}

.actions {
    padding: 0 4px;
    border: none;
}
.actions:focus {
    outline: none;
    box-shadow: none;
}

.delete:hover {
    background-color: #a92222;
    color: white;
}
.download:hover {
    background-color: #0000FF;
    color: white;
}
.edit:hover {
    background-color: #00cc66;
    color: white;
}

/*Layers manager table*/
#layersManagerTable .first {
    width: 30px;
    text-align: center
}

/*#layersManagerTable {*/
/*    margin-bottom: 0;*/
/*}*/